@model  IEnumerable<DomainClasses.Entities.Picture>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header alert alert-info text-center">
            <h4>تصویر خود را انتخاب کنید</h4>
            <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="LightBox.onSuccess" class="btn btn-info" data-ajax-update="#lightBox" data-toggle="modal"
               href="@Url.Action(MVC.Admin.Folder.ActionNames.Index, MVC.Admin.Folder.Name)?elementId=@ViewBag.ElementId" rel="nofollow" role="button">
                فولدرها
            </a>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12" id="lightBoxContent">
                    @{ Html.RenderAction(MVC.Admin.Folder.ActionNames.ListForLightBox, MVC.Admin.Folder.Name);}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">تایید</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).on('click', 'img', function (e) {
            $('img').removeClass("border");
            var $img = $(this);
            $($img).addClass("border");
            $('#@ViewBag.ElementId').val($img.attr('id'));
        });
    });

</script>
