@{
    ViewBag.Title = "ShowCompareList";
}

<main class="row">
    <div class="col-md-12" id="camp">
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title">مقایسه محصولات</h4></div>
            <div class="panel-body">
                <table class="table table-compare">
                    <tbody>
                        <tr>
                            <td class="aligned-color"><h5>نام محصول</h5></td>
                            <td><h4><a href="#" class="invarseColor">یک محصول فوق العاده عالی</a></h4></td>
                            <td><h4><a href="#" class="invarseColor">یک محصول فوق العاده عالی</a></h4></td>
                            <td><h4><a href="#" class="invarseColor">یک محصول فوق العاده عالی</a></h4></td>
                        </tr>
                        <tr>
                            <td class="aligned-color"><h5>عکس</h5></td>
                            <td><a href="#"><img src="img/92x92.jpg" alt="thumb product"></a></td>
                            <td><a href="#"><img src="img/92x92.jpg" alt="thumb product"></a></td>
                            <td><a href="#"><img src="img/92x92.jpg" alt="thumb product"></a></td>
                        </tr>
                        <tr>
                            <td class="aligned-color"><h5>قیمت</h5></td>
                            <td class="price"><s>$200.00</s> $150.00</td>
                            <td class="price">$99.99</td>
                            <td class="price">$100.00</td>
                        </tr>
                        <tr>
                            <td class="aligned-color"><h5>برند</h5></td>
                            <td>1شرکت داده گستر غرب</td>
                            <td>2شرکت داده گستر غرب</td>
                            <td>3شرکت داده گستر غرب</td>
                        </tr>
                        <tr>
                            <td class="aligned-color"><h5>امتیاز</h5></td>
                            <td>
                                <small>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                </small>
                                <small>برمبنای (2 دیدگاه)</small>
                            </td>
                            <td>
                                <small>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                </small>
                                <small>برمبنای (61 دیدگاه)</small>
                            </td>
                            <td>
                                <small>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                    <i class="glyphicon glyphicon-star"></i>
                                </small>
                                <small>برمبنای (5 دیدگاه)</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="aligned-color"><h5>توضیحات</h5></td>
                            <td>
                                یک توضیح خلاصه و مختصر برای محصول که متوان آن را برای تگ متا دیسکریبشن استفاده نمود
                            </td>

                            <td>
                                یک توضیح خلاصه و مختصر برای محصول که متوان آن را برای تگ متا دیسکریبشن استفاده نمود
                            </td>
                            <td>
                                یک توضیح خلاصه و مختصر برای محصول که متوان آن را برای تگ متا دیسکریبشن استفاده نمود
                            </td>

                        </tr>
                        <tr>
                            <td class="aligned-color"><h5>وزن کالا</h5></td>
                            <td>5.00kg</td>
                            <td>11.00kg</td>
                            <td>4.00kg</td>
                        </tr>
                        <tr>
                            <td class="aligned-color"><h5>ابعاد کالا</h5></td>
                            <td>0.90cm x 0.09cm x 2.00cm</td>
                            <td>2.0cm x 0.00cm x 8.00cm</td>
                            <td>1.0cm x 0.00cm x 7.99cm</td>
                        </tr>
                        <tr>
                            <td class="aligned-color"></td>
                            <td>
                                <button class="btn btn-small btn-primary" data-toggle="tooltip" data-title="+To Cart" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                <button class="btn btn-small" data-toggle="tooltip" data-title="+To Wishlist" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-heart"></i></button>
                                <button class="btn btn-small btn-danger" data-toggle="tooltip" data-title="Remove" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-small btn-primary" data-toggle="tooltip" data-title="+To Cart" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                <button class="btn btn-small" data-toggle="tooltip" data-title="+To Wishlist" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-heart"></i></button>
                                <button class="btn btn-small btn-danger" data-toggle="tooltip" data-title="Remove" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                            <td>
                                <button class="btn btn-small btn-primary" data-toggle="tooltip" data-title="+To Cart" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                <button class="btn btn-small" data-toggle="tooltip" data-title="+To Wishlist" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-heart"></i></button>
                                <button class="btn btn-small btn-danger" data-toggle="tooltip" data-title="Remove" data-placement="top" data-original-title="" title=""><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</main>
