@using DomainClasses.Entities
@model IEnumerable<Picture>


@Html.AntiForgeryToken()

@foreach (var item in Model)
{
    <div class="col-md-11">
            @Html.Partial(MVC.Admin.Folder.Views._PicturePartial, item)
    </div>
}

@Html.PagedListPager(new StaticPagedList<Picture>(Model, ViewBag.PageNumber, 10, ViewBag.Total), pageNumber => Url.Action(MVC.Admin.Folder.ActionNames.List, MVC.Admin.Folder.Name, new
    {
        page = pageNumber,
        folderId = ViewBag.FolderId
    }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast, new AjaxOptions { AllowCache = false, HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "picturesList" }))

<script>
    Public.Routin();
    $(function () {
        window.lazySizesConfig = {
            addClasses: true
        };
    });
</script>
