

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header alert alert-success text-center">
            <h5>کاربر گرامی سلام.از اینکه فروشگاه شهر طلایی من را انتخاب کردید ممنونیم</h5>
        </div>

        <div class="modal-body text-center">
            <h4 class="text-center text-info">
                @ViewBag.SuccessMessage
            </h4>
        </div>

    </div>

</div>