@model IEnumerable<ViewModel.Admin.Product.ProductSearchResultViewModel>

<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model)
        {
            <div class="col-md-1">
                <img src="@item.ImagePath?w=40&h=40&mode=crop" alt="@item.Name" />
            </div>
            <div class="col-md-3">@item.Name</div>

        }
    </div>
</div>
